:host {
    display: block;
    box-sizing: border-box;
    max-width: 52rem;
    margin: 0 auto;
    padding: 2rem 1.5rem;
}

p {
    font-size: 2rem;
}

a {
    text-decoration: wavy underline 2px;
    text-decoration-skip-ink: none;
}