/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap; /* https://web.dev/font-display/ */
  src: url(https://fonts.gstatic.com/s/opensans/v29/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVQUwaEQbjA.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@property --lightness {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

@property --accent-hue {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

@property --accent-offset {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

html {
    --background-gradient-left: rgba(249,249,255,1);
    --background-gradient-mid: rgba(246,246,255,1);
    --background-gradient-right: rgba(246,254,255,1);
    --main-background-color: #ffffff;
    --main-color: #252525;
    --h1-bottom-border: rgb(211, 211, 211);
    --link-color: #6c6cc1;
    --highlight-color: #f3f3fd;

    --accent-hue: 240;
    --accent-offset: 0;

    font-family: monospace;

    /* Chevron config. */
    --chevron-size: 12px;
    --chevron-angle: 42deg;
    --chevron-line-stroke: red;
    --report-line-height: 24px;
    --chevron-angle: 42deg;
    /* Edge doesn't support transform: rotate(calc(...)), so we define it here */
    --chevron-angle-right: -42deg;

    --report-line-height: 0.75rem;

    touch-action: none;
}

.gradient-background {
    background-image: linear-gradient(
        in oklch longer hue to right,
        oklch(0.93 var(--lightness) var(--accent-hue) / 33%),
        oklch(0.93 var(--lightness) calc(var(--accent-hue) + var(--accent-offset)) / 33%)
      ),
      linear-gradient(
        in oklch longer hue to bottom left,
        oklch(0.93 var(--lightness) var(--accent-hue) / 33%),
        oklch(0.93 var(--lightness) calc(var(--accent-hue) + var(--accent-offset)) / 33%)
      );

    animation-name: anim_bg;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes anim_bg {
    0% {
        --accent-offset: 0;
        --lightness: 0.01;
    }

    100% {
        --accent-offset: 10;
        --lightness: 0.05;
    }
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.color-controls details > summary {
    cursor: pointer;
}

/* We want to hide the browser's default arrow marker on summary elements. Admittedly, it's complicated. */
.color-controls details > summary {
    /* Blink 89+ and Firefox will hide the arrow when display is changed from (new) default of `list-item` to block.  https://chromestatus.com/feature/6730096436051968*/
    display: block;
}
/* Safari and Blink <=88 require using the -webkit-details-marker selector */
.color-controls details > summary::-webkit-details-marker {
    display: none;
}

.color-controls summary {
    text-align: right;
}

.color-controls {
    --control-height: 0.25rem;
    --label-height: 0.75rem;
    --color-padding: 4px;

    position: fixed;
    top: var(--color-padding);
    right: var(--color-padding);
    font-size: var(--label-height);

    box-shadow: inset 0px 0px 10px 0px oklch(0.2 0.2 var(--accent-hue) / 0.05);
    border-radius: 4px;
    backdrop-filter: blur(10px);
    z-index: 2;

    min-width: 15rem;

    padding: var(--color-padding);

    & input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
    }

    & input[type="range"]::-webkit-slider-runnable-track {
        background: #0001;
        height: var(--control-height);
        margin: none;
    }

    & input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        margin-top: 0px; /* Centers thumb on the track */
        background-color: oklch(0.6 0.17 var(--accent-hue));
        height: var(--control-height);
        width: calc(var(--control-height) * 2);    
        cursor: pointer;
    }
}

.color-controls .drag {
    cursor: grab;
    position: absolute;
    top: 2px;
    left: 2px;
}

/* Chevron
    https://codepen.io/paulirish/pen/LmzEmK
*/
.lh-chevron {
    width: var(--chevron-size);
    height: var(--chevron-size);
}

.lh-chevron__lines {
    transition: transform 0.4s;
    transform: translateY(var(--report-line-height));
}
.lh-chevron__line {
    stroke: oklch(0.7 0.17 var(--accent-hue));
    stroke-width: var(--chevron-size);
    stroke-linecap: square;
    transform-origin: 50%;
    transform: rotate(var(--chevron-angle));
    transition: transform 300ms, stroke 300ms;
}


.color-controls details[open] .lh-chevron__line-left,
    .lh-chevron__lines .lh-chevron__line-right {
 transform: rotate(var(--chevron-angle-right));
}

.color-controls details[open] .lh-chevron__line-right,
    .lh-chevron__lines .lh-chevron__line-left {
  transform: rotate(var(--chevron-angle));
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100%;
    max-width: 45rem;
    min-width: 300px;
    margin: auto;
    color: var(--main-color);
    padding: 0 2rem;
}
h1 {
    margin-top: 0;
    padding-top: 0.67em;
}
h2 {
    padding-bottom: 0.415em;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: var(--h1-bottom-border);
}
#portrait {
    max-width: 75px;
    max-height: 75px;
}
footer {
    text-align: right;
}
a {
    text-decoration: none;
    color: oklch(0.5 0.17 var(--accent-hue));
}
li:not(:first-child) {
    margin-top: 10px;
}
a:hover {
    text-decoration: underline;
}
#title-break {
    display: none;
}
.highlight {
    position: relative;
    z-index: 0;
}
.highlight:after {
    content: "";
    display: inline-block;
    width: 104%;
    height: 40%;
    margin-right: 5px;
    background: oklch(0.94 0.07 var(--accent-hue));
    position: absolute;
    left: -2%;
    bottom: 0;
    z-index: -1;
}
@media (prefers-color-scheme: dark) {
    html {
        --background-gradient-left: rgb(70, 70, 80);
        --background-gradient-mid: rgb(85, 85, 107);
        --background-gradient-right: rgb(58, 65, 66);
        --main-background-color: #0e0e0e;
        --main-color: #a6a4bb;
        --h1-bottom-border: rgb(211, 211, 211);
        --link-color: #9c9cf5;
        --highlight-color: #393956;
    }
}
@media only screen and (max-width:600px) {
    #title-break {
        display: inline;
    }
}
